<section>
    <div class="row">
        <div class="col-6">
            <h1>ADD PLAYERS</h1>
            <label class="switch">
                <input type="checkbox">
                <span class="slider"></span>
            </label>
               <br><br>
             <!-- <label for="numCarrera">
                Num Carrera:
                <input  id="numCarrera" type="number" name="numCarrera" placeholder="numCarrera" value=""/>
            </label>
            <br><br> -->
            <label for="nombre">
                Nombre:
                <input  id="name" type="text" name="nombre" placeholder="Nombre" value=""/>
            </label>
            <br><br>
            <label for="number">
                Puntaje:
                <input  id="number" type="number" name="number" placeholder="Puntaje" />
            </label>
            <br><br>
            
            <button type="button" id="btnClickSend"> send </button>
            <!-- <button type="button" id="btnClickUpdate"> update </button> -->
            <br><br>
            <!-- <div  id = "editDescription">
                <textarea name="texts" id="editTexts" cols="30" rows="10"></textarea>
            </div>
            <br><br>
            <button type="button" id="buttonDescription"> send description </button>
            <br><br> -->
            <!-- <div id="seeDataForm"></div> -->

        </div>
        <div class="col-6">
            <div id="lst">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">NOMBRE</th>
                        <th scope="col">PUNTAJE</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <!-- <th scope="col">Handle</th> -->
                      </tr>
                    </thead>
                    <tbody id = "viewTable">
                     
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
        <!-- <input type="submit" value="send" id="btnClick" /> -->
</section> 