<section class="docHome">
    <div class="styleTitle">
      <p>TORNEO</p> <p>INTERNACIONAL</p>
    </div>
    <div class="container">
    <div class="head">
      <div class="tag">
        <span>LIVE - DLC</span>
      </div>
      <div class="infoStyle">
        <span id="descriptionData">
          Bienvenidos al seguimiento del torneo internacional
          donde podra ver en tiempo real la posicion de su corredor favorito.
          No olvide compartir el link
        </span>
      </div>
      <div class="dateLiveStatus">
        <div class="date">
           <span>16/05/2021<span>
        </div>
        <div class="status">
            <div class="liveWord">
              <span>live<span>
            </div>
            <div class="styleLive">
              <div></div>
              <div></div>
              <div></div>
            </div>
        </div>
      </div>
    </div>

    <div class="contTable">
      <div id="buttonActivTable" class="buttonActiveStyle">VER TABLA</div>
        <table class="tableContainer">
          <thead>
            <tr class="tr">
              <th>#</th>
              <th>NOMBRE</th>
              <th>CARR..</th>
              <th>PTS</th>
            </tr>
          </thead>
          <tbody id="table">
          </tbody>
        </table>
    </div>
  </div>
</section>