<section class="docHome">
    <div class="styleTitle">
      <p>TORNEO INTERNACIONAL</p>
    </div>
    <div class="container">
    <div class="head">
      <div class="tag">
        <span>LIVE - DLC</span>
      </div>
      <div class="infoStyle">
        <span>Preparense para vivir segundo a segundo el gran campeonato de la liga de campeones!
          Preparense para vivir segundo a segundo 
        </span>
      </div>
      <div class="dateLiveStatus">
        <div class="date">
           <span>25/04/2021<span>
        </div>
        <div class="status">
            <div class="liveWord">
              <span>live<span>
            </div>
            <div class="styleLive">
              <div class="gen status1"></div>
              <div class="gen status2"></div>
              <div class="gen status3"></div>
            </div>
        </div>
      </div>
    </div>

    <div class="contTable">
        <table class="tableContainer">
          <thead>
            <tr class="tr">
              <th>#</th>
              <th>NOMBRE</th>
              <th>NCAR</th>
              <th>PTS</th>
            </tr>
          </thead>
          <tbody id="table">
          </tbody>
        </table>
    </div>
  </div>
</section>