<section class="docHome">
    <div class="styleTitle">
      <P>DIRT</P>
      <P>LEGUEND CHAMPIONS</P>
    </div>
    <div class="container">
    <div class="head">
      <div class="tag">
        <span>LIVE - DLC</span>
      </div>
      <div class="infoStyle">
        <span id="descriptionData">
          Bienvenidos al seguimiento de puntajes internacional
          donde podra ver en tiempo real la posicion de su jugador favorito.
          No olvide compartir el link.
        </span>
      </div>
      <div class="dateLiveStatus">
        <div class="date" id="dateNow">
        </div>
        <div class="status" id="contLiveState">
            
        </div>
      </div>
    </div>

    <div class="container_table_main">
      <div class="contTable">
        <div id="buttonActivTable" class="buttonSee">
          <svg class="svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="5px" y="5px"
                    viewBox="0 0 512.011 512.011" style="enable-background:new 0 0 512.011 512.011;" xml:space="preserve">
                  <g>
                    <g>
                      <path d="M505.755,123.592c-8.341-8.341-21.824-8.341-30.165,0L256.005,343.176L36.421,123.592c-8.341-8.341-21.824-8.341-30.165,0
                        s-8.341,21.824,0,30.165l234.667,234.667c4.16,4.16,9.621,6.251,15.083,6.251c5.462,0,10.923-2.091,15.083-6.251l234.667-234.667
                        C514.096,145.416,514.096,131.933,505.755,123.592z"/>
                    </g>
                  </g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
          </svg>
        </div>
          <table class="tableContainer">
            <thead>
              <tr class="tr">
                <th>#</th>
                <th>NOMBRE</th>
                <th>PTS</th>
              </tr>
            </thead>
            <tbody id="table">
            </tbody>
          </table>
      </div>
    </div>
  </div>
</section>