/* media="screen  (min-width: 601px)" */
@media (min-width: 576px) {

.head {
    padding: 0rem 5rem;
}
.tag{
    border: 1px rgba(235, 235, 235, 0.7) solid;
}
.infoStyle{
    border: 1px rgba(235, 235, 235, 0.7) solid;
}

.dateLiveStatus{
    border: 1px rgba(235, 235, 235, 0.7) solid;
}


/* ---------------------------------- */

.contTable {
    margin: .5rem 4.5rem;
}
.tr{
    background: rgb(255, 255, 255);
}
tr {
    background:  rgba(251, 251, 251, 0.8) ;
}


}


